* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* background-color: black; */
}

/* Contact Page Styling */


.contactUsPage {
    height: 100vh;
    width: 98.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(228, 228, 60); */
}

.mainBox {
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
}

.leftBox {
    height: 100%;
    width: 60%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.innerBox {
    text-align: left;
    padding: 20px;
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.rightBox {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
}

.award {
    width: 100%;
    font-size: 1.6rem;
    color: #FF3147;
    text-transform: uppercase;
}

.heading {
    font-size: 2.9rem;
    font-family: "Cormorant SC", serif;
    text-transform: uppercase;
}

.para {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: left;
}

.button {
    height: 50px;
    width: 160px;
    border-radius: 5px;
    background-color: #FF3147;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.imageDiv {
    height: 80%;
    width: 80%;
    background: url(./Assets/contactImg.png) no-repeat center center/cover;
}

/* Contact Form Styling */
.contactForm {
    height: 70vh;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 15px rgb(76, 76, 76);
    border-radius: 15px;
    /* display: none; */
}

.displayNone {
    display: none;
}

.headingDiv {
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formHeading {
    margin-left: 15px;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.icon {
    color: #888;
}

.formDiv {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBox {
    margin-left: 45px;
    position: relative;
}

.inputBox,
.nameInputDiv,
.checkInputBox {
    height: 30%;
    width: 100%;
    font-size: 1.2rem;
}

.inputBox,
.nameInputDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.nameInputDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nameInputBox {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.input,
.nameInput {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #bbbbbb;
    width: 85%;
    color: black;
    font-size: 1.2rem;
}

.label,
.nameLabel {
    font-size: 1.1rem;
    color: #bbbbbb;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-70%);
    font-family: "Poppins", sans-serif;
    pointer-events: none;
    transition: ease-in 0.1s;
}

.input:focus~label,
.nameInput:focus~label {
    bottom: 0.3px;
    font-size: 0.9rem;
}

.input:valid~label,
.nameInput:valid~label {
    bottom: 0.1px;
    font-size: 0.9rem;
}

.checkInputBox {
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkInput {
    height: 16px;
    width: 16px;
    background-color: #FF3147;
}

input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 5%;
    bottom: 34%;
}

.checkLabel {
    display: flex;
}

.checkLabel::before {
    margin-right: 10px;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid #FF3147;
}

/* .checkLabel:hover::before {
    background-color: #ff31466d;
} */

.checkInput:checked+.checkLabel::before {
    content: '\002714';
    padding: 1px;
    color: white;
    background-color: #FF3147;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv {
    height: 30%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formButton {
    height: 60%;
    width: 80%;
    background-color: #fa4a5c;
    color: white;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: 10px;
}

.closeForm {
    cursor: pointer;
}

/* Services Page Styling */
.servicesPage {
    height: 110vh;
    width: 98.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

.contentSection {
    padding-top: 2rem;
    height: 25%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentHeadingDiv {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.contentHeading {
    font-size: 2rem;
    color: rgb(255, 49, 71);
}

.contentServicesDiv {
    padding: 10px;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.leftDiv {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 20px;
}

.leftDiv h1 {
    font-size: 2.2rem;
}

.rightDiv {
    height: 100%;
    width: 70%;
    padding: 0rem 5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightDiv p {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
}

/* 

 */


.slider {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 65vw;
    margin: auto;
    overflow: hidden;
}

.slides {
    height: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

.slides::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}
.slideBox{
    height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.slide {
    height: 100%;
    min-width: 30%;
    margin: 0px 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    vertical-align: middle;
    /* top: 0;
    left: -100%; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    background-color: #FF3147;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    border-radius: 5px;
}

.content img {
    height: 57px;
    width: 57px;
}

.slide:hover .content {
    opacity: 1;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F4F4F4;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Poppins", serif;
}

.read-more img {
    height: 10px;
    width: 37px;
}

.read-more:hover {
    background-color: #ba6262;
    color: white;
}

.dots {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.outerDot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerDot {
    height: 7px;
    width: 7px;
    background-color: #000000;
    border-radius: 50%;
}
.dot {
    height: 7px;
    width: 7px;
    background-color: #000000;
    border-radius: 50%;
    margin: 0px 15px;
}
.dot.active{
    background-color: #FF3147;
    border: 2px solid #FF3147;
    border-spacing: 10px;
}




/* Why Page styling */
.whyPage {
    height: 150vh;
    width: 98.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsHeadings {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsHeadings h2 {
    font-size: 1.5rem;
    color: #FF3147;
    margin-bottom: 20px;
}

.cardsHeadings h1 {
    font-size: 2.3rem;
    font-family: "Cormorant SC", serif;
    font-weight: bolder;
}

.cards {
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Poppins", serif;
}

.card {
    height: 100%;
    width: 20%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
}

.card h2 {
    font-size: 1.1rem;
}

.card p {
    font-size: 1rem;
}

.card img {
    height: 72px;
    width: 72px;
    margin-bottom: 10px;
}







.projectSection {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
}

.projectHeadings {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectHeadings h2 {
    font-size: 1.5rem;
    color: #FF3147;
    margin-bottom: 20px;
    font-weight: light;
}

.projectHeadings h1 {
    font-size: 2.3rem;
    font-family: "Cormorant SC", serif;
    font-weight: bolder;
}

.projectContent {
    height: 80%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
}

.projectImage {
    height: 85%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage img {
    height: 100%;
    width: 100%;
    margin-right: 20px;
}

.projectDivs {
    height: 85%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.projectDiv {
    height: 33.33%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-evenly;
    padding: 0px 10px;
    cursor: pointer;
    /* align-items: center; */
}

.projectDiv h2 {
    font-size: 1rem;
    font-weight: 400;
}

.projectDiv p {
    font-size: 0.8rem;
    font-weight: 300;
}

.activeProject {
    background-color: #FF3147;
    color: white;
}


.growthSection {
    background-color: #FAFAFA;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
}

.growthHeadings {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.growthHeadings h2 {
    font-size: 1.5rem;
    color: #FF3147;
    margin-bottom: 20px;
}

.growthHeadings h1 {
    font-size: 2.3rem;
    font-family: "Cormorant SC", serif;
    font-weight: bolder;
}

.growthCards {
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Poppins", serif;
}

.growthCard {
    background-color: #ffffff;
    height: 75%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.growthCard:hover {
    box-shadow: 3px 6px 20px #672C2C1F;
}

.growthCard h2 {
    font-size: 3rem;
    font-weight: 400;
}

.growthCard p {
    font-size: 1rem;
}

.growthCard img {
    height: 34px;
    width: 39px;
    margin-bottom: 10px;
}


.feedbackSection {
    height: 50vh;
    width: 98.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedbackHeadings {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
}

.feedbackHeadings h2 {
    font-size: 24px;
    color: #FF3147;
    margin-bottom: 20px;
}

.feedbackHeadings h1 {
    font-size: 45px;
    font-family: "Cormorant SC", serif;
    font-weight: 700;
}

.feedbackContent {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", serif;
}

.feedbackContent p:first-child {
    font-size: 20px;
    width: 70%;
    text-align: left;
}

.feedbackContent p>strong {
    color: #FF3147;
    font-size: 20px;
}

.feedbackContent p>span {
    color: #808080;
    font-size: 20px;
}


/* Brands Section */

.brandsSection {
    height: 35vh;
    width: 98.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3147;
}


@media only screen and (max-width: 1560px) {
    .heading {
        font-size: 2.5rem;
    }

    .brandsSection img {
        width: 70%;
    }

}

@media only screen and (max-width: 1415px) {
    .leftDiv h1 {
        font-size: 2rem;
    }

    .rightDiv p {
        font-size: 1.1rem;
    }

    .contentHeading {
        font-size: 1.7rem;
    }

    .card {
        width: 15%;
    }
}

@media only screen and (max-width: 1365px) {
    .heading {
        font-size: 2.1rem;
    }

    .leftDiv {
        width: 35%;
    }

    .rightDiv {
        width: 65%;
    }

    .projectContent {
        width: 90%;
    }

    .card h2 {
        font-size: 1rem;
    }

    .card p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .rightDiv p {
        font-size: 1rem;
    }

    .rightDiv {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 1170px) {
    .heading {
        font-size: 2rem;
    }

    .card img {
        height: 50px;
        width: 50px;
    }

}

@media only screen and (max-width: 1130px) {
    .heading {
        font-size: 1.7rem;
    }

    .growthCard h2 {
        font-size: 2rem;
    }

    .rightDiv p {
        font-size: 0.9rem;
        width: 100%;
    }

    .imageDiv {
        width: 100%;
    }

    .feedbackContent p:first-child {
        font-size: 16px;
    }
    .content img{
        height: 45px;
        width: 45px;
    }
    .content h2{
        font-size: 20px;
    }
    .content p{
        font-size: 14px;

    }
    .read-more{
        padding: 5px 10px;
    }
    .read-more img{
        height: 10px;
        width: 24px;
    }
    .slideBox{
        min-width: 120%;
        margin-right: 2rem;
    }
    .whyPage{
        height: 200vh;
    }
    
}

@media only screen and (max-width: 970px) {
    .contactUsPage {
        height: 100vh;
    }

    .mainBox {
        height: 100%;
        flex-direction: column;
    }

    .leftBox {
        height: 35%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .innerBox {
        height: 100%;
        width: 100%;

    }

    .rightBox {
        height: 80%;
        width: 80%;
    }

    .imageDiv {
        border-radius: 10px;
    }

    .contactForm {
        width: 80%;
    }

}

@media only screen and (max-width:870px) {
    .whyPage {
        height: 230vh;
    }

    .cardsSection {
        height: 100%;
    }

    .cardsHeadings {
        height: 20%;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        height: 80%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .slide {
        height: 85%;
        /* min-width: 50% */
    }

    .projectSection {
        height: 150vh;
    }

    .projectContent {
        height: 100%;
        flex-direction: column;
    }

    .projectDivs {
        flex-direction: row;
        height: 50%;
        width: 100%;
    }

    .projectDiv {
        height: 85%;
    }
    .content img{
        height: 45px;
        width: 45px;
    }
    .content h2{
        font-size: 20px;
    }
    .content p{
        font-size: 14px;

    }
    .read-more{
        padding: 5px 5px;
    }
    .read-more img{
        height: 10px;
        width: 24px;
    }


}

@media only screen and(max-width:760px) {

    .contactUsPage {
        height: 120vh;
    }

    .rightBox {
        height: 40%;
    }

    .button {
        height: 30px;
        width: 100px;
    }
}

@media only screen and (max-width:750px) {
    .contentServicesDiv {
        flex-direction: column;
        width: 100%;
    }

    .contentSection {
        height: 30%;
    }

    .leftDiv {
        width: 100%;
    }

    .rightDiv {
        width: 100%;
    }

    .leftDiv h1 {
        font-size: 2rem;
    }

    .contentHeadingDiv {
        justify-content: center;
        align-items: center;
    }

    .leftBox {
        height: 60%;
    }
    
    .content h2{
        font-size: 16px;
    }
    .content p{
        font-size: 12px;

    }
    .read-more{
        padding: 5px 10px;
    }
    .read-more img{
        height: 10px;
        width: 18px;
    }

}

@media only screen and (max-width: 620px) {
    .growthSection {
        height: 120vh;
    }

    .growthCards {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .growthCard {
        width: 100%;
    }

    .growthCard h2 {
        font-size: 1.5rem;
    }

    .feedbackContent p>strong {
        font-size: 1rem;
    }

    .feedbackContent p>span {
        font-size: 1rem;
    }

    .projectImage {
        width: 100%;
    }

    .projectImage img {
        margin-right: 0ppx;
    }
    .leftDiv h1{
        font-size: 1.5rem;
    }
    .leftDiv p{
        font-size: 0.9rem;
    }
    .whyPage{
        height: 280vh;
    }
}

@media only screen and (max-width: 500px) {
    .heading {
        font-size: 1.5rem;
    }
    .feedbackContent p{
        font-size: 0.7rem;
    }

    .feedbackContent p>strong {
        font-size: 0.7rem;
    }

    .feedbackContent p>span {
        font-size: 0.7rem;
    }
    .feedbackHeadings h1{
        font-size: 2.5rem;
    }
    

}

@media only screen and (max-width: 425px) {
    .heading {
        font-size: 1.2rem;
    }

    .para {
        font-size: 0.9rem;
    }
}